<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Rchat</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div id="app" class="container-fluid p-0">
            <div class="green-bar">
                <div id="web-app" class="container-xxl position-relative p-0">
                    <div class="my-row d-flex">
                        <div class="col-4">
                            <header class="header-bg d-flex justify-content-between"> <!-- Header contente informazioni utente -->
                                <div class="user-propic d-flex p-2 ps-2">
                                    <img src="img/avatar_io.jpg" alt="Propic">
                                    <div class="d-flex align-content-center justify-content-center flex-wrap ms-2">Terminator</div>
                                </div>
                                
                                <div class="h-100 d-flex align-items-center"> <!-- Buttons -->
                                    <i class="fa-solid fa-circle-notch fs-5 mx-2"></i>
                                    <i class="fa-solid fa-message fs-5 mx-2"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fs-5 mx-2 me-3"></i>
                                </div>
                            </header>
                            <main> <!-- Inizio main sezione di sinistra ( Lista delle chat ) -->
                                <div class="notify-sec d-flex align-items-center">
                                    <div class="white-circle d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-bell-slash"></i>                                       
                                    </div>
                                    
                                    <!-- Sezione notifiche -->
                                    <div class="notify-string d-flex justify-content-center align-items-center">
                                        <p class="m-0 p-0 ms-2">Ricevi notifiche di nuovi messaggi<br><span class="m-0 p-0">Attiva notifiche desktop</span></p>
                                    </div>
                                </div>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                                        <input type="text" class="form-control" v-model="searchInput" @keyup.enter="console.log(searchInput);">
                                    </div>

                                <div class="chat-section"> <!-- Lista delle chat -->
                                    
                                    <div
                                    v-for="(items, index) in contacts"
                                    @click="currentChat=index">
                                        <div class="chat d-flex align-items-center" :class="{'selected-chat':index==currentChat, 'd-none':items.visible == false}" v-if="(items.name).toLowerCase().includes(searchInput.toLowerCase())">
                                            <img class="ms-2" :src="items.avatar" :alt="items.name"> <!-- Avatar image -->
                                            <div class="chat-name d-flex">
                                                <div>
                                                    <h5 class="m-0">{{items.name}}</h5> <!-- Contact Name -->
                                                    <p class="m-0"><span v-show="items.messages[items.messages.length-1].status!='sent'">{{items.name}}: </span>{{items.messages[items.messages.length-1].message}}</p> <!-- Last message -->
                                                </div>
                                                <div class="time"> <!-- Last message's time sent/received-->
                                                    {{items.messages[items.messages.length-1].date}}
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>

                                </div>
                            </main>
                        </div>
                        <div class="col-8">

                            <header class="header-bg d-flex justify-content-between"> <!-- Header contente informazioni utente -->
                                <div class="user-propic d-flex p-2 ps-2">
                                    <img :src="contacts[currentChat].avatar" :alt=contacts[currentChat].name>
                                    <div>
                                        <p class="m-0 p-0 ms-2 mt-1">{{contacts[currentChat].name}}</p>
                                        <p class="m-0 p-0 ms-2 last-login">Ultimo accesso alle 12:00</p>
                                    </div>
                                </div>
                                
                                <div class="h-100 d-flex align-items-center"> <!-- Buttons -->
                                    <i class="fa-solid fa-magnifying-glass fs-5 mx-2"></i>
                                    <i class="fa-solid fa-link fs-5 mx-2"></i>
                                    <i class="fa-solid fa-ellipsis-vertical fs-5 mx-2 me-3"></i>
                                </div>
                            </header>

                            <main>
                                <div class="live-chat pt-3 position-relative">
                                    <div 
                                        v-for="(items, index) in contacts[currentChat].messages" 
                                        class="d-flex" 
                                        :class="{
                                            'justify-content-end pe-3': items.status.includes('sent'),
                                            'justify-content-start ps-3': items.status.includes('received')
                                        }">
                                            <p class="p-2 p-message"
                                            :class="{
                                                'received': items.status.includes('received')
                                            }">{{items.message}} <span class="date-time ms-1">{{items.date}}</span></p>
                                    </div>
                                    <div class="text-bar p-2 position-absolute bottom-0 w-100 d-flex align-items-center">
                                        <i class="fa-regular fa-face-smile fs-4 ms-3 me-4"></i>

                                        <div class="input-group">
                                            <input type="text" class="form-control" v-model="messageInput" @keyup.enter.prevent="newMessage()">
                                        </div>
                                        
                                        <i class="fa-solid fa-microphone fs-4 ms-4 me-3"></i>
                                        
                                    </div>
                                    
                                </div>
                            </main>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="vue.js"></script>
    </body>
</html>