* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --webapp-height: 85dvh;
    --header-height: 65px ;
}

img {
    max-width:100%;
}

main {
    height: calc(var(--webapp-height) - var(--header-height));
    width:100%;
}

.container-fluid {
    background-color: #dbdbd3;
    height:100dvh;
}

.green-bar {
    width:100%;
    height:120px;
    background-color: #009687;
}

.green-bar > #web-app {
    height:var(--webapp-height);
    background-color:white;
    top:26px;
}

.user-propic > img {
    width:50px;
    height:50px;
    border-radius:50%;
}

.my-row > .col-4 { 
    border-right:1px solid rgba(239, 239, 240, 0.7);
}

.header-bg {
    background-color: #ebebeb;
    height:var(--header-height);
}

.header-bg > div.h-100 > .fa-solid {
    color:#b0b0b0;
}

.header-bg > div.h-100 > .fa-solid:hover,
.white-circle {
    cursor:pointer;
}

.fa-solid.fa-message {
    padding-top:2px;
}

.notify-sec {
    padding:12px;
    height:calc(var(--header-height) + 15px);
    background-color: #8dd9fc;
}

.white-circle {
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:white;
}