* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --webapp-height: 88dvh;
    --header-height: 65px ;
}

img {
    max-width:100%;
}

main {
    height: calc(var(--webapp-height) - var(--header-height));
    width:100%;
}

.container-fluid {
    background-color: #dbdbd3;
    height:100dvh;
}

.green-bar {
    width:100%;
    height:120px;
    background-color: #009687;
}

.green-bar > #web-app {
    height:var(--webapp-height);
    background-color:white;
    top:26px;
}

.user-propic > img {
    width:50px;
    height:50px;
    border-radius:50%;
}

.my-row > .col-4 { 
    border-right:1px solid rgba(239, 239, 240, 0.7);
}

.header-bg {
    background-color: #ebebeb;
    height:var(--header-height);
}

.header-bg > div.h-100 > .fa-solid {
    color:#b0b0b0;
}

.header-bg > div.h-100 > .fa-solid:hover,
.white-circle,
.notify-sec > .notify-string > p > span,
.chat {
    cursor:pointer;
}

.fa-solid.fa-message {
    padding-top:2px;
}

.notify-sec {
    padding:12px;
    height:calc(var(--header-height) + 15px);
    background-color: #8dd9fc;
}

.white-circle {
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:white;
}

.notify-sec > .notify-string > p > span{
    font-size:0.85rem;
    text-decoration:underline;
    color: gray;
}

form .input-group-text,
form input.form-control {
    border-radius:0;
}

form .input-group-text:hover {
    cursor:pointer;
    background-color: rgba(239, 239, 240, 0.8);
}

form input.form-control:focus {
    box-shadow:none;
    border-color:#009687;
}

.chat-section {
    overflow-y:auto;
    max-height:83%;
}

.chat {
    width:100%;
    height:80px;
}

.chat:hover {
    background-color: rgba(239, 239, 240, 0.5);
}

.chat > img {
    width:60px;
    height:60px;
    border-radius:50px;
}

.chat > .chat-name {
    margin-left:15px;
    width:78%;
    border-bottom:1px solid rgba(239, 239, 240, 0.8);
}

.chat-name h5 {
    padding-top:15.1px;
}

.chat-name p { /* Comportamento del testo anteprima di ogni chat in lista */
    max-width:250px;
    padding-bottom:15.1px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis; /* Mette i puntini al posto delle parole delle stringe troppo lunghe */
}

.chat-name > .time {
    flex-grow:1;
    text-align:right;
    line-height:70px;
    font-size:0.9rem;
    color:#009687;
}

.live-chat {
    width:100%;
    height:100%;
    background-image:url('./img/mine.jpg');
}

.last-login {
    font-size:0.8rem;
}